.footer {
    margin: 0 auto;
    padding: 0 30px;
    background: #202020;
    min-height: 172px;
}

.footer__text {
    display: flex;
    margin: 0 auto;
    max-width: 1140px;
    padding-top: 79px;
    margin-bottom: 20px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    justify-content: center;
    color: #8b8b8b;
    padding-bottom: 20px;
    border-bottom: 1px solid #424242;
}

.footer__info {
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
    max-width: 1140px;
    align-items: center;
    max-width: 1140px;
}

.footer__copyright {
    margin: 0;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    color: #ffffff;
}

.footer__links {
    display: flex;
    padding: 0;
}

.footer__link {
    margin: 0;
    font-family: "Inter";
    list-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    text-align: right;
    color: #ffffff;
    margin-left: 20px;
    text-decoration: none;
    transition: opacity 0.5s ease-in-out;
}
.footer__link:hover {
    opacity: 0.5;
    cursor: pointer;
}
@media (max-width: 560px) {
    .footer {
        padding: 0 10px;
        display: flex;
        flex-direction: column;
    }
    .footer__links {
        flex-direction: column;
        order: -1;
    }
    .footer__info {
        flex-direction: column;
    }
    .footer__text {
        margin-bottom: 30px;
        font-size: 12px;
        line-height: 15px;
    }
    .footer__link {
        margin: 0 auto;
        margin-bottom: 12px;
        font-size: 12px;
        line-height: 15px;
    }
    .footer__copyright {
        font-size: 12px;
        line-height: 15px;
        color: #8b8b8b;
        margin-top: 18px;
        margin-bottom: 10px;
    }
}
