.techs {
    min-height: 625px;
    background-color: #272727;
    padding: 0 50px;
}
.techs__title {
    display: flex;
    margin: 0 auto;
    padding-bottom: 23px;
    border-bottom: 1px solid #dadada;
    max-width: 1140px;
    padding-top: 110px;
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 27px;
    letter-spacing: -0.04em;
    color: #ffffff;
}
.techs__subtitle {
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 90px;
    max-width: 600px;
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    line-height: 58px;
    letter-spacing: -0.04em;
    color: #ffffff;
}
.techs__text {
    font-style: normal;
    display: flex;
    justify-content: center;
    margin: 0 auto;
    margin-top: 26px;
    margin-bottom: 100px;
    max-width: 460px;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
}
.techs__list {
    margin: 0 auto;
    padding: 0;
    height: 60px;
    max-width: 690px;
    display: flex;
    justify-content: space-between;
}
.techs__list-text {
    margin: 0;
    list-style: none;
    width: 90px;
    padding-top: 21px;
    background-color: #303030;
    border-radius: 10px;
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    letter-spacing: -0.04em;
    color: #ffffff;
}
@media (max-width: 768px) {
    .techs__text {
        font-size: 12px;
        line-height: 18px;
    }
    .techs__list-text {
        width: 84px;
        font-size: 12px;
        line-height: 15px;
    }
    .techs__list {
        height: 57px;
    }
    .techs__title {
        padding-top: 90px;
    }
}
@media (max-width: 720px) {
    .techs__list {
        max-width: 272px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 10px;
        height: auto;
        padding-bottom: 70px;
    }
    .techs__list-text {
        margin: 0;
        padding: 0;
        min-height: 57px;
        font-size: 12px;
        line-height: 15px;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (max-width: 560px) {
    .techs {
        background-color: #202020;
        padding: 0 18px;
    }
    .techs__title {
        padding-top: 70px;
        padding-bottom: 28px;
        border-bottom: solid 1px black;
    }
    .techs__subtitle {
        margin-top: 60px;
        font-size: 30px;
        line-height: 36px;
    }
    .techs__text {
        margin-top: 24px;
        margin-bottom: 50px;
        font-size: 11px;
        line-height: 16px;
    }
    .techs__list {
        max-width: 178px;
        grid-template-columns: 1fr 1fr;
    }
}
